<html>
<head>
<title>oi</title>
<!-- QT Web Channel (for C++ communication)-->
<script src="qrc:///qtwebchannel/qwebchannel.js"></script>

<!--TODO: CHANGE TO LOCAL-->
<!-- Vue stuff (vue.js and router) -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>

<!-- Stylesheets -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="stylehseet">

<style>
h2, h3, h4 {
    margin: 0;
}

.cscover{
    float:left;
    margin-right:20px;
}

.coverList{
    display:block;
    width:100%;
}

.albumCover{
    display: inline-block;
    width:calc(100% / 5 - 12px);
    margin-right:10px;
    margin-bottom:10px;
    background-size:cover;
}

.albumCover:nth-child(5n){
    margin-right:0;
}

.albumCover:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
</style>
</head>
<body>
<div id="app">
    <button onclick="playerObject.play();">Play</button>
    <button onclick="playerObject.pause();">Pause</button>

    <br>

    <button onclick="playerObject.jump('previous')">Previous</button>
    <button onclick="playerObject.jump('next')">Next</button>

    <br>

    <button onclick="playerObject.loadSong(0)" style="position:absolute;top:5px;right:5px;">Load Song 0</button>

    <input class="volumeSlider" type="range" value="1" min="0" max="1" step="any">

    <div class="debug">Volume: 1</div>

    <br>

    <router-view></router-view>

    <input class="progressBar" type="range" min="0" v-bind:max="trackLength" v-bind:value="currentPos" step="any" style="width:300px;">
    <span class="cspos">{{ toMSS(Math.floor(currentPos)) }}</span>/<span class="cslen">{{ toMSS(trackLength) }}</span>
    <br>
    <img class="cscover" v-bind:src="cover">
    <h2>{{ title }}</h2>
    <br>
    <h3>{{ artist }}</h3>
    <br>
    <h4>{{ album }}</h4>

    <div class="coverList" v-if="albumsLoaded">
        <div v-for="(tracks, albumid) in albums">
            <span v-if='typeof tracks[0].album !== "undefined"'> <b>{{ tracks[0].album[0] }}</b></span>
            <br>
            <span v-if='typeof tracks[0].artist !== "undefined"'> 
                <span v-for="artist in tracks[0].artist">
                 {{artist}}
                </span>
            </span>
            <br>
            <router-link :to="{name: 'album', params: {id: albumid, tracks:tracks}}">
                <div class="albumCover" :style="{ backgroundImage: `url('file:///${location}/cache/covers/${albumid}.png')` }"></div>
            </router-link>
        </div>
    </div>
</div>

<script src="qrc:///vue/components/AlbumPage.js"></script>
<script src="qrc:///vue/app.js"></script>

</body>
</html>
