@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

.App{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  /*height: 100vh;*/
  color:#fff;
}

.menu-bar{
  text-align:center;
  color:#fff;
  background:#111111;
  padding-top:24px;
  width:60px;
  height:calc(100vh - 102px);
  font-size:34px;
  float:left;
}

.menu-bar i{
  padding-bottom:24px;
}

.pages{
  display:block;
  float:right;
  width:calc(100% - 60px);
  height:calc(100vh - 102px);
  overflow-y:scroll;
}

a {
  color: #fff;
  text-decoration: none; /* no underline */
}