.songObj span{
    display:block;
    padding:5px;
}

.songObj:hover{
    background:rgba(255,255,255,.1);
}

.songNumber, .songName, .songArtist, .songAlbum{
    float:left;
}

.songNumber{
    width:2px;
}

.nowPlayingSongObj{
    color:cyan;
}

.albumPage{
    padding:15px;
}