@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

.App{
  font-family: 'Open Sans';
  color:#fff;
  position:relative;
  user-select: none;
}

.page{
  width:90%;
  height:calc(100vh - 102px);
  overflow-y:scroll;
}