.playbar{
    width:100%;
    height:82px;
    background:#222222;
    padding-top:20px;
    position:absolute;
    bottom:-102px;
    color:#fff;
    overflow:hidden;
}

.cover-container{
    background:rgba(255,255,255,0.05);
    background-repeat:no-repeat;
    background-position: center center;
    background-size:100% auto;
}

.current-song-info img{
    width:52px;
}

.current-song-info span{
    display:block;
    margin-left:12px;
}

.current-song-info{
    margin-left:16px;
}

.current-song-info .cover-container{
    float:left;
    width:52px;
    height:52px;
}

.nameContainer{
    width:200px;
    height:20px;
    overflow:hidden;
}

.fbtn{
    opacity:.7;
    font-size:18px;
}

.playbtn{
    font-size:42px;

    opacity:.9;

    margin:0 12px;
}

.btns button:hover{
    opacity:1;
}

.btns button:active{
    opacity:.9;
}


.playbtn:focus { 
    outline: none; 
}

.btns {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items:center;
}

.btns div{
    margin:0 20px;
}

.btns div, .btns svg{
    cursor:pointer;
    opacity:.75;
}

.btns div:hover, .btns svg:hover{
    opacity:1;
}

.nowplaying{
    float:left;
}

.progress-bar{
    position:absolute;
    top:0;
    left:0px;
    width:100%;
    flex-shrink: 0;
    width:100%;
    /*background:rgba(255,255,255,.05);*/
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: rgba(255,255,255,0.2);
    height: 6px;
    overflow: hidden;
    outline:none;
  }
  
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    box-shadow: -6003px 0 0 6000px rgba(255,255,255,0.5);
    cursor: pointer;
    height: 6px;
    width: 6px;
    border: 0;
}

input[type='range']:hover::-webkit-slider-thumb{
    background: #ffa800;
    box-shadow: -6003px 0 0 6000px #ffa800;
}

.time{
    margin-right:20px;
}

.vs{
    border-radius: 50px;
    margin-left:6px;
}

.volContainer{
    position:absolute;
    right:25px;
    bottom:45px;
    display:flex;
    align-items:center;
}

.repeat{
    position:relative;
}

.repeat-indicator{
    font-size:9px;
    display:block;
    position:absolute;
    right:0;
    bottom:3px;
    background: #ffa800;
    color:#fff;
    width:10px;
    height:10px;
    text-align:center;
    border-radius:50%;
}

.repeat, .repeat svg{
    opacity:1!important;
}

.rating{
    font-size:24px;
}