.listItem{
    width:180px;
    height:180px;
    background-size:cover;
    display:inline-block;
}

.albumlist div{
    min-width:120px;
    height:120px;
    position:relative;
    float:left;
}

.albumlist div img{
    height:100%;
}

.albumlist span{
    display:block;
    position:absolute;
    bottom:0;
}